// src/styles/_variables.scss
$primary: #BCB600;
$secondary: #34A84A;
$info: #F3F3F3;
$dark: #2A2828;
$primary-color: #34A84A;   // Green
$dark-color: #2A2828;      // Dark grey/black
$accent-color: #BCB600;    // Yellow
$light-color: #f8f9fa;     // Bootstrap light background
